
    
.about{
    background-color: rgb(29, 21, 1);
    margin-top: 2px;
}
.about p{
  
    color: rgb(210, 179, 241);
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.7;;
    
} 