.main1{
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgb(180, 243, 245);
}

.header{
   margin: 2px;
}
.header button{
    padding: 10px;
    margin: 5px;
    border: 0px;
    border-radius: 50px;
    width: 40%;
    box-shadow:  3px 3px 3px  black;
    color: rgb(2, 12, 0);  
    font-weight: bold;   
    font-size: 20px; 
    font-style: normal; 
        
       
}
.header button:hover{
    box-shadow: inset 1px 1px 1px 1px black,
                    2px 2px 2px 2px black ;
    color: rgb(10, 238, 40);                
}
.header button:active{
    color: rgb(255, 0, 55);
}
.section label{
    font-weight: 300;   
    font-size: 30px; 
    font-style: normal; 
    

}.section{
    margin: 20px;
}
.section input{
    box-shadow:  3px 3px 3px  black;
    border: 0px;    
    border-radius:20%;     
    width: 40%;   
    padding: 10px;
    margin: 5px;    
                    
}
.section input:hover{
    box-shadow: inset 1px 1px 1px 1px black,
                    2px 2px 2px 2px black ;
                    
}


.section button{
    box-shadow:  3px 3px 3px  black;
    border-style: none; 
    border-radius:10%;     
    width: 20%;   
    padding: 5px;
    margin: 2px;

}
.section button:hover{
    box-shadow: inset 1px 1px 1px 1px black,
                      2px 2px 2px 2px black ;
    color: rgb(207, 10, 181);

}
.submit{
    margin: 8px;
}
.footer input{
    box-shadow:  3px 3px 3px  black;
    border: 0px;    
    border-radius:20%;     
    width: 40%;   
    padding: 10px;
    margin: 5px;
}
.footer input:hover{
    box-shadow: inset 1px 1px 1px 1px black,
                    2px 2px 2px 2px black ;
                    

}
.footer button{
    box-shadow:  3px 3px 3px  black;
    border-style: none; 
    border-radius:10%;     
    width: 20%;   
    padding: 5px;
    margin: 10px;

}
.footer button:hover{
    box-shadow: inset 1px 1px 1px 1px black,
                      2px 2px 2px 2px black ;
    color: rgb(207, 10, 181);

}
.note{
    margin: 10px;
    font-size: 30px;
}
.note1{
    text-align: center;
    font-size: small;
    margin: 10px;
    padding: 5px;
    font-weight: bolder;
}
